body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 65px;
    color: white;
}

h2 {
    font-size: 50px;
}



.top-part {
    text-align: center;
    padding-top: 20%;
    color: white;
    background-color: rgba(103, 67, 67, 0.496);
    padding-bottom: 4.5%;

}

.top-banner {
    background-image: url(images/donation2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(141, 129, 15), tomato);
    color: white;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;

}

#option {
    border: 1px;
    background-color: black;
}

p {
    padding-bottom: 20px;
    font-size: 20px;
}

.text-part {
    text-align: center;
    padding-top: 5%;
    color: black;

}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.obo-radio {
    text-align: center;
    padding: 20px;
    background-color: aqua;
}

.flexible-container {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;

}

.display-box {
    font-weight: 600;
    margin-bottom: 5px;

}

#nmbr {
    width: 50%;
    height: 25px;
    align-items: center;

}

#option {
    border-color: black;
    background-color: black;
    width: 20%;
}

.another-section {
    align-items: center;
    text-align: center;
}



.flexible-cont {
    display: flex;
    text-align: left;
    background-position: center;
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 12%;
}

.plans-item {
    width: 80%;
    padding-left: 3%;
    padding-right: 1%;
    margin-right: 12%;
    padding-top: 3%;
    padding-bottom: 1%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

#aqua {
    background-color: rgba(0, 255, 255, 0.54);
}

#gray {
    background-color: rgba(157, 154, 154, 0.443);
}

#yellow {
    background-color: rgb(227, 194, 151);
}

.last-flexible {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-top: 8%;
}

.half-width img {
    width: 80%;
}

#subscribe {
    margin-right: 40%;
    margin-top: 5px;
}

.second-last {
    margin-top: 3%;
    background-color: rgb(182, 162, 138);
    width: 50%;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-grp {
    text-align: center;
}

label {
    position: relative;
}

input {
    border: black;
    padding: 15px;
    width: 300px;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 15px;
    background-color: blue;
    color: white;
}

footer p {
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: black;
}